.project {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }
}
